.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  background-color: #bbbbbb;
  padding: 10px;

  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
}



.subscription-container {
  background-color: #f7941e;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 8px 6px -6px black;
  border-radius: 10px;
  padding: 20px;
}


.subscription-from{
  display: flex;
  flex-direction: column;
}

.subscriber-details{
  list-style: none;
}

.tier-list{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tier-selection-container{
  display: flex;
}

.tier-item{
  padding-right: 20px;
  padding-left: 20px;
}

.gift-aid-container{
  display: flex;
  padding-top: 20px;
}

.gift-aid-decalration{
  font-size: 12px;
}
