.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  background-color: #bbbbbb;
  padding: 10px;

  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
}


.subscription-container {
  background-color: #f7941e;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 8px 6px -6px black;
  border-radius: 10px;
  padding: 20px;
}


.subscription-from{
  display: flex;
  flex-direction: column;
}

.subscriber-details{
  list-style: none;
}